body {
    background-color: rgb(0, 238, 255);
    display: flex;
    justify-content: center;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
img:hover+ button {
    display: block;
}
.count {
    display: flex;
    gap: 30px;

}
button {
    position: absolute;
    display: none;
    border-radius: 5px;
    
}
button:hover {
    background-color: blue;
    display: block;
}
.part1 ,.part2 , .part3 ,.part4 ,.part5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}